//
// Color system
// --------------------------------------------------
$white:                             #ffffff !default;
$gray-100:                          #f8f8f8 !default;
$gray-200:                          #e9e9e9 !default;
$gray-300:                          #dedede !default;
$gray-400:                          #cecece !default;
$gray-500:                          #ababab !default;
$gray-600:                          #6c6c6c !default;
$gray-700:                          #494949 !default;
$gray-800:                          #313131 !default;
$gray-900:                          #212121 !default;
$black:                             #000000 !default;
$red:                               #A2270C !default;

$primary:                           #577760 !default;
$secondary:                         #514553 !default;
$tertiary:                          #758c7f !default;
$quaternary:                        #2d1e2f !default;

$default:                           #eaebec !default;
$success:                           #3a833a !default;
$info:                              #287f9a !default;
$warning:                           #a4660e !default;
$danger:                            #d4403a !default;
$lighter:                           $gray-100 !default;
$light:                             $gray-200 !default;
$dark:                              $gray-800 !default;
$darker:                            $gray-900 !default;

$theme-colors: (
    'primary':                      $primary,
    'secondary':                    $secondary,
    'tertiary':                     $tertiary,
    'quaternary':                   $quaternary,
    'success':                      $success,
    'info':                         $info,
    'warning':                      $warning,
    'danger':                       $danger,
    'default':                      $default,
    'lighter':                      $lighter,
    'light':                        $light,
    'dark':                         $dark,
    'darker':                       $darker,
) !default;

$body-bg:                           $white !default;
$body-color:                        $gray-900 !default;

// Options
//
// Quickly modify global styling by enabling or disabling optional features.

$enable-caret:                true !default;
$enable-rounded:              false !default;
$enable-shadows:              false !default;
$enable-gradients:            false !default;
$enable-transitions:          true !default;
$enable-reduced-motion:       true !default;
$enable-smooth-scroll:        true !default;
$enable-grid-classes:         true !default;
$enable-container-classes:    true !default;
$enable-cssgrid:              true !default;
$enable-button-pointers:      true !default;
$enable-rfs:                  true !default;
$enable-validation-icons:     true !default;
$enable-negative-margins:     false !default;
$enable-deprecation-messages: true !default;
$enable-important-utilities:  true !default;

//
// Fonts
// --------------------------------------------------
$font-size-base:                    1rem !default;
$h1-font-size:                      $font-size-base * 2 !default;
$h2-font-size:                      $font-size-base * 1.75 !default;
$h3-font-size:                      $font-size-base * 1.5 !default;
$h4-font-size:                      $font-size-base * 1.25 !default;
$h5-font-size:                      $font-size-base * 1 !default;
$h6-font-size:                      $font-size-base * .85 !default;

$headings-font-weight:              300 !default;

$display-font-sizes: (
    1: $h1-font-size * 1.5,
    2: $h2-font-size * 1.5,
    3: $h3-font-size * 1.5,
    4: $h4-font-size * 1.5,
    5: $h5-font-size * 1.5,
    6: $h6-font-size * 1.5
) !default;




// scss-docs-start headings-variables
$headings-font-family:        "corporate-e" !default;

$display-font-family: "corporate-e" !default;
// scss-docs-end display-headings

$input-btn-font-family:       "corporate-s" !default;

//
// Breakpoints
// --------------------------------------------------
$grid-float-breakpoint:             992px !default;

//$grid-gutter-width:                0px !default;

// Grid breakpoints
//
// Define the minimum dimensions at which your layout will change,
// adapting to different screen sizes, for use in media queries.

// scss-docs-start grid-breakpoints
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1280px
) !default;


// Grid containers
//
// Define the maximum width of `.container` for different screen sizes.

// scss-docs-start container-max-widths
$container-max-widths: (
  sm: 540px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1280px
) !default;


//
// Navbar
// --------------------------------------------------
$navbar-heights: (
    xs: 70px,
    sm: 70px,
    md: 70px,
    lg: 64px,
    xl: 64px,
    xxl: 64px
) !default;
$navbar-dropdown-columns: (
    xs: 2,
    sm: 2,
    md: 4,
    lg: 4,
    xl: 6,
    xxl: 6
) !default;

//
// Cards
// --------------------------------------------------
$card-spacer-y:                     1.5rem !default;
$card-spacer-x:                     1.5rem !default;

//
// Pagination
// --------------------------------------------------
$pagination-color:                  $body-color !default;

//
// Breadcrumb
// --------------------------------------------------
$breadcrumb-padding-y:              .75rem !default;
$breadcrumb-bg:                     $lighter !default;

//
// Accordion
//
$accordion-padding-y:               1rem !default;
$accordion-padding-x:               1.25rem !default;
$accordion-body-padding-y:          $accordion-padding-x !default;
$accordion-body-padding-x:          $accordion-padding-x !default;

//
// Carousel
//
$carousel-control-opacity:          .8 !default;

//
// Input
//
$border-color:                      $gray-400 !default;
$input-border-color:                #959595 !default;
