//
// Variables
//
@import "variables";

//
// Import needed Bootstrap Package Files
//
@import "EXT:bootstrap_package/Resources/Public/Scss/bootstrap5/theme";

@import 'Fonts/fonts';
@import 'BasicElements/button';
@import 'ContentElements/textpic';
@import 'ContentElements/header';
