

.din-2014 {
  font-family: "din-2014", sans-serif;
  font-weight: 400;
  font-style: normal
}
.din-2014-narrow {
  font-family: "din-2014-narrow", sans-serif;
  font-weight: 400;
  font-style: normal;
}