 @font-face {
 	font-family: 'PT-Serif';
 	font-weight: normal;
 	font-style: normal;
 	src: url("../../Fonts/PT_Serif_v8-latin/pt-serif-v8-latin-regular.eot");
 	src: url("../../Fonts/PT_Serif_v8-latin/pt-serif-v8-latin-regular.eot") format("embedded-opentype"),
 		url("../../Fonts/PT_Serif_v8-latin/pt-serif-v8-latin-regular.ttf") format("truetype"),
 		url("../../Fonts/PT_Serif_v8-latin/pt-serif-v8-latin-regular.woff") format("woff"),
 		url("../../Fonts/PT_Serif_v8-latin/pt-serif-v8-latin-regular.svg#pt-serif-v8-latin-regular") format("svg")
 }

 @font-face {
 	font-family: 'PT-Serif';
 	font-weight: normal;
 	font-style: italic;
 	src: url("../../Fonts/PT_Serif_v8-latin/pt-serif-v8-latin-italic.eot");
 	src: url("../../Fonts/PT_Serif_v8-latin/pt-serif-v8-latin-italic.eot") format("embedded-opentype"),
 		url("../../Fonts/PT_Serif_v8-latin/pt-serif-v8-latin-italic.ttf") format("truetype"),
 		url("../../Fonts/PT_Serif_v8-latin/pt-serif-v8-latin-italic.woff") format("woff"),
 		url("../../Fonts/PT_Serif_v8-latin/pt-serif-v8-latin-italic.svg#pt-serif-v8-latin-italic") format("svg")
 }