@font-face {
	font-family:'Roboto';
	font-weight:normal;
	font-style:normal;
	src:url("../../Fonts/Roboto_v15-latin/roboto-v15-latin-regular.eot");
	src:url("../../Fonts/Roboto_v15-latin/roboto-v15-latin-regular.eot") format("embedded-opentype"),
	url("../../Fonts/Roboto_v15-latin/roboto-v15-latin-regular.ttf") format("truetype"),
	url("../../Fonts/Roboto_v15-latin/roboto-v15-latin-regular.woff") format("woff"),
	url("../../Fonts/Roboto_v15-latin/roboto-v15-latin-regular.svg#roboto-v15-latin-regular") format("svg")
 }
 @font-face {
	font-family:'Roboto';
	font-weight:normal;
	font-style:italic;
	src:url("../../Fonts/Roboto_v15-latin/roboto-v15-latin-italic.eot");
	src:url("../../Fonts/Roboto_v15-latin/roboto-v15-latin-italic.eot") format("embedded-opentype"),
	url("../../Fonts/Roboto_v15-latin/roboto-v15-latin-italic.ttf") format("truetype"),
	url("../../Fonts/Roboto_v15-latin/roboto-v15-latin-italic.woff") format("woff"),
	url("../../Fonts/Roboto_v15-latin/roboto-v15-latin-italic.svg#roboto-v15-latin-italic") format("svg")
 }
 @font-face {
	font-family:'Roboto';
	font-weight:700;
	font-style:normal;
	src:url("../../Fonts/Roboto_v15-latin/roboto-v15-latin-700.eot");
	src:url("../../Fonts/Roboto_v15-latin/roboto-v15-latin-700.eot") format("embedded-opentype"),
	url("../../Fonts/Roboto_v15-latin/roboto-v15-latin-700.ttf") format("truetype"),
	url("../../Fonts/Roboto_v15-latin/roboto-v15-latin-700.woff") format("woff"),
	url("../../Fonts/Roboto_v15-latin/roboto-v15-latin-700.svg#roboto-v15-latin-700") format("svg")
 }
 @font-face {
	font-family:'Roboto';
	font-weight:900;
	font-style:normal;
	src:url("../../Fonts/Roboto_v15-latin/roboto-v15-latin-900.eot");
	src:url("../../Fonts/Roboto_v15-latin/roboto-v15-latin-900.eot") format("embedded-opentype"),
	url("../../Fonts/Roboto_v15-latin/roboto-v15-latin-900.ttf") format("truetype"),
	url("../../Fonts/Roboto_v15-latin/roboto-v15-latin-900.woff") format("woff"),
	url("../../Fonts/Roboto_v15-latin/roboto-v15-latin-900.svg#roboto-v15-latin-900") format("svg")
 }
 @font-face {
	font-family:'Roboto';
	font-weight:900;
	font-style:italic;
	src:url("../../Fonts/Roboto_v15-latin/roboto-v15-latin-900italic.eot");
	src:url("../../Fonts/Roboto_v15-latin/roboto-v15-latin-900italic.eot") format("embedded-opentype"),
	url("../../Fonts/Roboto_v15-latin/roboto-v15-latin-900italic.ttf") format("truetype"),
	url("../../Fonts/Roboto_v15-latin/roboto-v15-latin-900italic.woff") format("woff"),
	url("../../Fonts/Roboto_v15-latin/roboto-v15-latin-900italic.svg#roboto-v15-latin-900italic") format("svg")
 }
