@font-face {
	font-family:'Ultra';
	font-weight:normal;
	font-style:normal;
	src:url("../../Fonts/Ultra_v8-latin/ultra-v8-latin-regular.eot");
	src:url("../../Fonts/Ultra_v8-latin/ultra-v8-latin-regular.eot") format("embedded-opentype"),
	url("../../Fonts/Ultra_v8-latin/ultra-v8-latin-regular.ttf") format("truetype"),
	url("../../Fonts/Ultra_v8-latin/ultra-v8-latin-regular.woff") format("woff"),
	url("../../Public/Fonts/Ultra_v8-latin/ultra-v8-latin-regular.svg#ultra-v8-latin-regular") format("svg")
 }